.h1-Advanced {
    color: #d93025;
    font-size: 20px;
    margin: 25px 35px;
}

.line {
    border-bottom: 1px solid #ebebeb;
}

.h2-advanced {
    display: inline-block;
    min-width: 167px;
    width: 16%;
    font-size: 16px;
    min-height: 42px;
    font-weight: 500;
    color: #333;
    vertical-align: middle;
}