
@use 'home';

*,
*::before,
*::after {
    box-sizing: border-box;
}

html{
    font-size: 62,5%;
}

body {
    font-family: Roboto, sans-serif;
}

// Header
.nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 3rem 1rem;
}

.nav-item {
    margin: 0 3rem;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: rgb(26, 50, 169);
}